<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="community">
	<!-- 자유게시판 리스트/ 페이징 -->
	<select id="selectFreeBoard" resultType="freeBoard">
  		select A.*,(select count(*) from FREEBOARDATTACHMENT where A.boardno=boardnoref) filecount from freeboard A order by boarddate desc
	</select>
	<select id="selectFreeBoardCount" resultType="_int">
  		select count(*) from freeBoard
  	</select>
  	<select id="selectOneFreeBoard" parameterType="_int" resultType="freeboard">
  		select * from freeboard where boardno=#{boardNo}
  	</select>
  	<select id="selectAttachment" parameterType="_int" resultType="freeBoardAttachment">
  		select * from freeboardattachment where boardnoref=#{boardNo}
  	</select>
  	
  	<!-- 자유게시판 insert 및 attachment insert -->
  	<insert id="insertFreeBoard" parameterType="freeBoard">
  		insert into freeboard values (SEQ_FREEBOARDNO.nextval, #{boardTitle}, #{memberId}, #{boardContent}, sysdate, default)
  		<selectKey keyProperty="boardNo" resultType="_int" order="AFTER">
  			select seq_freeboardno.currval from dual
  		</selectKey>  	
  	</insert>
  	<insert id="insertFreeAttachment" parameterType="freeBoardAttachment">
  		insert into freeboardattachment values(SEQ_TEAMBOARDATTACHMENTNO.nextval,#{originalFileName},#{renamedFileName},#{boardNoRef})
  	</insert>
  	<delete id="deleteFreeBoard" parameterType="freeBoard">
  		delete from freeboard where boardno=#{boardNo}
  	</delete>
  	<update id="updateFreeBoard" parameterType="freeBoard">
  		update freeboard set boardTitle=#{boardTitle}, boardContent=#{boardContent}, boardDate=sysdate where boardno=#{boardNo}
  	</update>
  	<insert id="insertComment" parameterType="freeBoardComment">
  		insert into freeboardcomment values (SEQ_FREEBOARDCOMMENTNO.nextval, #{memberId}, #{commentContent}, #{boardNoRef}, #{commentNoRef})
  	</insert>
  	<select id="selectComment" resultType="freeBoardComment" parameterType="_int">
  		select * from freeboardcomment where boardnoref=#{boardNo}
  	</select>
  	<delete id="deleteComment" parameterType="_int">
  		delete from freeboardcomment where commentno=#{commentNo}
  	</delete>
  	<delete id="deleteFreeBoardAttach" parameterType="string">
  		delete from FREEBOARDATTACHMENT where renamedfilename=#{rName}
  	</delete>
  	<select id="selectFreeBoardListAll" resultType="freeBoard">
  		select * from freeboard order by boarddate desc
  	</select>
</mapper>
