<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="match">

	<insert id="insertMatch" parameterType="match">
	insert into match values(seq_matchno.nextval, #{teamHome}, null, #{matchDate}, #{matchTime}, #{matchType}, #{playGround}, default, default, #{cost}, #{matchContent}, #{lat}, #{lng}, default)
	</insert>

	<select id="matchList" resultType="com.kh.pickmatch.model.vo.Match">
	select * from match
	</select>
	
	<select id="tMatch" resultType="map">
	select count(*) as c, to_char(matchdate, 'YYYY-MM-DD') as cc from match where teamaway is not null group by to_char(matchdate, 'YYYY-MM-DD')
	</select>
	
	<select id="fMatch" resultType="map">
	select count(*) as f, to_char(matchdate, 'YYYY-MM-DD') as ff from match where teamaway is null group by to_char(matchdate, 'YYYY-MM-DD')
	</select>
	
	<select id="matchContent" resultType="map" parameterType="string">
	<!-- select * from match where teamhome is not null and teamaway is not null order by matchdate asc -->
	select m.*,(select teamemblem from team where m.teamhome=teamname)as homeemblem, (select teamemblem from team where m.teamaway=teamname)as awayemblem from match m where m.matchdate=#{matchDate} and teamaway is not null ORDER BY MATCHDATE ASC
	</select>
	<select id="incomMatch" resultType="map" parameterType="string">
	select m.*,(select teamemblem from team where m.teamhome=teamname)as homeemblem from match m where m.matchdate=#{matchDate} and teamaway is null ORDER BY MATCHDATE ASC
	</select>
	<insert id="matchRequest" parameterType="map">
	insert into matchrequestteam values(${team},)
	</insert> 
	
</mapper>
