<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="match">

	<insert id="insertMatch" parameterType="match">
		insert into match values(seq_matchno.nextval, #{teamHome}, null,
		#{matchDate}, #{matchTime}, #{matchType}, #{playGround}, default,
		default, #{cost}, #{matchContent}, #{lat}, #{lng}, default)
	</insert>

	<select id="matchList"
		resultType="com.kh.pickmatch.model.vo.Match">
		select * from match
	</select>

	<select id="tMatch" resultType="map">
		select count(*) as c, to_char(matchdate, 'YYYY-MM-DD') as cc from match
		where teamaway is not null group by to_char(matchdate, 'YYYY-MM-DD')
	</select>

	<select id="fMatch" resultType="map">
		select count(*) as f, to_char(matchdate, 'YYYY-MM-DD') as ff from match
		where teamaway is null group by to_char(matchdate, 'YYYY-MM-DD')
	</select>

	<select id="matchContent" resultType="map"
		parameterType="string">
		<!-- select * from match where teamhome is not null and teamaway is not 
			null order by matchdate asc -->
		select m.*,(select teamemblem from team where m.teamhome=teamname)as
		homeemblem, (select teamemblem from team where m.teamaway=teamname)as
		awayemblem from match m where m.matchdate=#{matchDate} and teamaway is
		not null ORDER BY MATCHDATE ASC


	</select>
	<select id="incomMatch" resultType="map" parameterType="string">
		select m.*,(select teamemblem from team where m.teamhome=teamname)as
		homeemblem,(select teamlocation from team where m.teamhome=teamname)as
		location from match m where m.matchdate=#{matchDate} and teamaway is
		null ORDER BY MATCHDATE ASC
	</select>
	<!-- <insert id="matchRequest" parameterType="map"> insert into matchrequestteam 
		values(${team},) </insert> -->

	<select id="matchInfo"
		resultType="com.kh.pickmatch.model.vo.MatchPEmblem"
		parameterType="com.kh.pickmatch.model.vo.MatchPEmblem">
		<!-- select * from match where matchno=#{matchNo} -->
		<!-- select m.*,(select teamemblem from team where m.teamhome=teamname) 
			as emblem from match m where m.matchno=#{matchNo} -->
		select m.*,(select teamemblem from team where m.teamhome=teamname) as
		emblem,(select teamlocation from team where m.teamhome=teamname)as
		location, (select teamtype from team where m.teamhome=teamname) as
		teamtype, (select teamcolor from team where m.teamhome=teamname) as
		uniform,(select count(*) from memberbyteam where
		m.teamhome=teamname)as teamcount,(select teamcontent from team where
		m.teamhome=teamname)as introduce, (select matchcontent from match
		where teamhome=m.teamhome and m.matchno=matchno)as matchcontent from
		match m where m.matchno=#{matchNo}
	</select>
	<select id="memberInfo" resultType="map" parameterType="string">
		select * from memberbyteam mbt left join member m
		on(mbt.memberid=m.memberid) where mbt.teamname=#{teamName}
	</select>

	<select id="memberByTeam"
		resultType="com.kh.pickmatch.model.vo.MemberByTeam"
		parameterType="string">
		select * from memberbyteam where memberid=#{id}
	</select>

	<insert id="matchRequest" parameterType="map">
		insert into matchrequestteam values(#{matchNo},#{teamName},#{memo})
	</insert>

	<select id="matchResponse" resultType="map" parameterType="int">
		select * from matchrequestteam where matchno=#{matchNo}
	</select>

	<update id="matchOk" parameterType="map">
		update match set teamaway = #{awayTeam} where matchno=#{matchNo}
	</update>

	<select id="matchSa"
		resultType="com.kh.pickmatch.model.vo.HomeSaInfo" parameterType="map">

		<!-- select match.matchno,match.teamhome,match.matchdate,match.matchtime,match.matchtype,match.playground,match.cost,match.matchcontent,match.lat,match.lng,score.totalplaycount,score.win,score.draw,score.lose,(select 
			teamlocation from team where teamname=match.teamhome)as location,(select 
			authority from memberbyteam where teamname=match.teamhome and authority='팀장')as 
			jobgrade from match inner join score on teamhome=teamname where match.teamhome=#{matchHome} 
			and match.matchno=#{matchNo} -->
		select
		match.matchno,match.teamhome,match.matchdate,match.matchtime,match.matchtype,match.playground,match.cost,match.matchcontent,match.lat,match.lng,score.totalplaycount,score.win,score.draw,score.lose,(select
		teamlocation from team where teamname=match.teamhome)as
		location,(select authority from memberbyteam where
		teamname=match.teamhome and authority='팀장')as jobgrade,(select
		teamemblem from team where teamname=match.teamhome)as homeemblem from
		match inner join score on teamhome=teamname where
		match.teamhome=#{matchHome} and match.matchno=#{matchNo}

	</select>
	<select id="matchSaa"
		resultType="com.kh.pickmatch.model.vo.AwaySaInfo" parameterType="map">
		<!-- select match.matchno,match.teamaway,match.matchdate,match.matchtime,match.matchtype,match.playground,match.cost,match.matchcontent,match.lat,match.lng,score.totalplaycount,score.win,score.draw,score.lose 
			from match inner join score on teamaway=teamname where match.teamaway=#{matchAway} 
			and match.matchno=#{matchNo} -->
		select
		match.matchno,match.teamaway,match.matchdate,match.matchtime,match.matchtype,match.playground,match.cost,match.matchcontent,match.lat,match.lng,score.totalplaycount,score.win,score.draw,score.lose,(select
		teamlocation from team where teamname=match.teamaway)as
		location,(select teamemblem from team where teamname=match.teamaway)as
		awayemblem from match inner join score on teamaway=teamname where
		match.teamaway=#{matchAway} and match.matchno=#{matchNo}
	</select>
	<select id="matchindexContent" resultType="map" parameterType="string">
	select * from match where to_char(matchdate,'YYYY-MM-DD')=#{today} and teamaway is not null
	</select>
	
	<select id="selectOneMatch" parameterType="_int" resultType="match">
		select * from match where matchno = #{matchNo}
	</select>


</mapper>
