<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

  <select id="selectOne" parameterType="member" resultType="member">
  	select * from member where memberid=#{memberId}
  </select>
  
  <insert id="insertMember" parameterType="member">
  	insert into member values(#{memberId},#{password},#{memberName},#{nickName},#{phone},#{email},#{birth},#{gender},#{position},#{location},default,default,null,null,default)
  </insert>
  <!-- <resultMap id="memberMap" type="member">
  	<result column="hobby" property="hobby" typeHandler="strArr"/>
  </resultMap> -->
  
  <!-- <update id="update" parameterType="member">
  	update member set userName=#{userName},gender=#{gender},
  						age=#{age},email=#{email},address=#{address},
  						phone=#{phone}, hobby=#{hobby, typeHandler=strArr}
  					where userid=#{userId}
  </update> -->

  
  
</mapper>











