<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team">
<!-- 팀자유게시판 / 팀자유게시판 페이징처리 -->
 	<select id="selectCount" resultType="_int">
 		select count(*) from TeamBoard
 	</select>
 	<select id="selectList" resultType="team">
 		select A.*,(select count(*) from TEAMBOARDATTACHMENT where A.boardno=boardno) filecount from teamboard A order by boarddate desc
 	</select>
 	
 	<!-- 팀자유게시판 상세보기 -->
 	<select id="selectteamBoard" parameterType="_int" resultType="team">
		select * from teamboard where boardno=#{boardNo}
	</select>
	<select id="selectAttachment" parameterType="_int" resultType="com.kh.pickmatch.model.vo.TeamBoardAttachment">
		select * from teamboardattachment where attachmentno=#{boardNo}
	</select>
 	
 	
</mapper>
