<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team">
<!-- 팀자유게시판 / 팀자유게시판 페이징처리 -->
 	<select id="selectCount" resultType="_int">
 		select count(*) from TeamBoard
 	</select>
 	<select id="selectList" resultType="team">
 		select A.*,(select count(*) from TEAMBOARDATTACHMENT where A.boardno=boardno) filecount from teamboard A order by boarddate desc
 	</select>
 	
 	<!-- 팀자유게시판 상세보기 -->
 	<select id="selectteamBoard" parameterType="_int" resultType="team">
		select * from teamboard where boardno=#{boardNo}
	</select>
	<select id="selectAttachment" parameterType="_int" resultType="com.kh.pickmatch.model.vo.TeamBoardAttachment">
		select * from teamboardattachment where attachmentno=#{boardNo}
	</select>
 	
 	
 	<!-- 팀 공지사항 -->
 	<select id="selectCountN" resultType="_int">
 		select count(*) from TeamNotice
 	</select>
 	<select id="selectListN" resultType="teamnotice">
 		select * from teamnotice order by noticedate desc
 	</select>
 	
 	<!-- 팀 공지사항 상세보기 -->
 	<resultMap id="teamnoticemap" type="teamnotice">
		<result column="noticeno" property="noticeNo"/>
		<result column="noticetitle" property="noticeTitle"/>
		<result column="memberid" property="memberId"/>
		<result column="noticedate" property="noticeDate"/>
		<result column="noticereadcount" property="noticeReadCount"/>
		<result column="teamname" property="teamName"/>
	</resultMap>
 	
 	
 	<select id="selectNoticeView" parameterType="teamnotice" resultMap="teamnoticemap">
		select * from teamnotice where noticeno=#{noticeNo}
	</select>
 	
 	
 	
 	<!-- 팀 공지사항 글쓰기 -->
 	<insert id="insertNotice"  parameterType="teamnotice">
 		insert into teamnotice values(seq_teamnoticeno.nextval,#{noticeTitle},#{memberId},#{noticeContent},default,default,#{teamName})
 	</insert>

 	<!-- 팀 공지사항 글삭제 -->
 	<delete id="deleteNotice">
 		delete from teamnotice where noticeno=#{noticeNo}
 	</delete>
 	
 	<!-- 팀 공지사항 수정 -->
 	<select id="selectOne" resultType="teamnotice">
 		select * from teamnotice where noticeno=#{noticeNo}
 	</select>
 	
 	<update id="updateNotice" parameterType="teamnotice">
 		update teamnotice set noticetitle=#{noticeTitle}, noticecontent=#{noticeContent} where noticeno=#{noticeNo}
 	</update>
 	
 	<!-- 팀 생성 -->
 	<insert id="InsertTeam" parameterType="teamcreate">
 		insert into team values(#{teamName},default,#{teamLocation},#{teamField},#{teamType},#{teamColor},#{teamContent},default,#{teamEmblem},default)
 	</insert>
 	
 	<select id="selectTeamCheck" resultType="teamcreate">
 		select * from team where teamname=#{teamname}
 	</select>
 	
 	
 	<!-- 팀 랭킹 -->
 	<select id="selectCountT" resultType="_int">
 		select count(*) from team
 	</select>
 	<select id="selectTeamRanking"  resultType="teamcreate">
 		 SELECT * FROM (SELECT ROWNUM AS rank, A.* FROM (SELECT * FROM team ORDER BY teamrating DESC) A) 
 	</select>
 	<!-- 팀검색 -->
 	<select id="TeamSearch" resultType="teamcreate">
 		SELECT * FROM (SELECT ROWNUM AS rank, A.* FROM (SELECT * FROM team ORDER BY teamrating DESC) A) team where teamname=#{search}
 	</select>
 	
 	
 	<!-- 용병랭킹 -->
 	<select id="selectCountM" resultType="_int">
 		select count(*) from mercenary
 	</select>
 	<select id="selectmercenaryranking"  resultType="mercenary">
 		 SELECT * FROM (SELECT ROWNUM AS rank, A.* FROM (SELECT * FROM mercenary join member using(memberid) ORDER BY goalcount DESC) A) 
 	</select>
 	
 	<!-- 용병검색 -->
 	<select id="MercenarySearch" resultType="mercenary">
 		SELECT * FROM (SELECT ROWNUM AS rank, A.* FROM (SELECT * FROM mercenary join member using(memberid) ORDER BY goalcount DESC) A) mercenary where memberid=#{search}
 	</select>
 	
 	
</mapper>
